body {
  font-family: 'Roboto', Arial, sans-serif; }

.button {
  font-size: 14px;
  background-color: #fd9c28;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 13px 22px; }
  .button img {
    vertical-align: middle; }

.header-contacts {
  display: flex;
  justify-content: end;
  align-items: center; }
  .header-contacts__phone {
    font-size: 22px;
    margin-right: 13px; }
